VITE_ENTRA_TENANT_ID=REPLACE_WITH_MASHREQ_TENANT_ID
VITE_ENTRA_CLIENT_ID=REPLACE_WITH_SPA_APPLICATION_CLIENT_ID
VITE_ENTRA_API_CLIENT_ID=REPLACE_WITH_API_APPLICATION_CLIENT_ID
VITE_ENTRA_REDIRECT_URI=http://localhost:5173
