PROVISION_MODE=dry-run
JWT_SECRET=replace-with-a-strong-secret
DEVOPS_APPROVER_PASSWORD=devops123
AZDO_ORG=MashreqCorpTech
AZDO_PROJECT=Titan
AZDO_PAT=
DATA_FILE=/app/data/requests.json
CORS_ORIGINS=http://localhost:5173
PIPELINE_BRANCH=devops/pipeline
PIPELINE_COPY_PATHS=azure-pipelines.yml,azure-pipelines.yaml,Dockerfile,Dockerfile.static,manifests/,shared-config/
